/* General Styling */
body {
    font-family: 'Lato', 'Helvetica', 'Arial', sans-serif;
    color: #333;
    margin: 0;
    padding: 0;
    line-height: 1.6em;
}

h1, h2, h3 {
    font-family: 'Merriweather', serif;
    margin-bottom: 20px;
}

h1 {
    font-size: 3em;
    text-align: center;
    font-weight: 700;
    margin-top: 20px;
    color: #333;
}

h2 {
    font-size: 2em;
    font-weight: 700;
    margin-top: 20px;
}

h3 {
    font-size: 1.5em;
    font-weight: 400;
    color: #666;
}

p {
    font-size: 1.1em;
    margin-bottom: 20px;
}

/* Navigation Styling */
nav {
    background-color: #f8f8f8;
    border-bottom: 1px solid #ddd;
    padding: 15px 0;
    text-align: center;
}

nav ul {
    padding: 0;
    list-style: none;
}

nav ul li {
    display: inline;
    margin-right: 30px;
}

nav ul li a {
    font-weight: 400;
    color: #333;
    text-decoration: none;
    padding: 10px 15px;
    border-radius: 5px;
    transition: background-color 0.3s, color 0.3s;
}

nav ul li a:hover {
    background-color: #007bff;
    color: #fff;
}

/* Main Content and Columns */
.container {
    width: 80%;
    margin: 0 auto;
    padding: 20px 0;
}

.main-content {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
}

.left-column, .right-column {
    width: 48%;
}

.profile-img {
    border-radius: 10px;
    width: 100%;
    max-width: 250px;
    display: block;
    margin: 0 auto 20px;
}

.contact {
    text-align: center;
    margin-top: 10px;
    font-size: 1.1em;
}

.contact a {
    color: #007bff;
}

.contact a:hover {
    text-decoration: underline;
}

.toggle-button {
    cursor: pointer;
    color: #007bff;
    font-weight: bold;
}

.arrow {
    transition: transform 0.3s ease;
    display: inline-block;
}

.arrow.rotate {
    transform: rotate(90deg);
}

.hidden-text {
    display: none;
    margin-top: 10px;
    padding-left: 15px;
    border-left: 2px solid #d5d5d5;
}

/* Media Queries for Responsive Design */
@media (max-width: 768px) {
    .main-content {
        flex-direction: column;
    }

    .left-column, .right-column {
        width: 100%;
    }

    .profile-img {
        width: 70%;
        margin-left: auto;
        margin-right: auto;
    }

    h1 {
        font-size: 2.5em;
    }

    h2 {
        font-size: 1.8em;
    }
}

@media (max-width: 480px) {
    h1 {
        font-size: 2em;
    }

    h2 {
        font-size: 1.5em;
    }

    .profile-img {
        width: 100%;
    }
}
